/**
 * @file
 * Customization for WWUZEN Dual AMSEC
 *
 */

@import 'base';

@media all {

  .clean-fairhaven-middle-left,
  .clean-fairhaven-middle-center,
  .clean-fairhaven-middle-right {

    .pane-title {
      background-color: $wwuLime;
      padding: .5em;
    }
  }

  .amsec-pane-students {
    background-color: $wwuBlue;
    color: #fff;
    padding-bottom: 1em;

    a {
      color: #fff;
    }
  }

}

@media all and (min-width: 801px) {

  .site-name {
    max-width: 450px;
    min-width: 375px;
  }

  .titlebreak::after {
    content: '\a';
    white-space: pre;
  }

}
